# Ignore configuration and cache directories
**.htpasswd
**config/
**cache/
**media/
**downloads/
**/db/
**/logs/
**mail-logs/
**mail-state/
**ssl/
# Ignore SSL certificates
*.crt
*.key
*.csr
**.log
**certs/

# Ignore Docker artifacts
docker-compose.override.yml
.dockerignore

# Ignore editor/IDE settings
.vscode/
.idea/

# Ignore system files
**.DS_Store
**.db
**stremio-cache

**.env
