# Ignore configuration and cache directories
**config/
**cache/
**media/
**downloads/
**/db/

# Ignore SSL certificates
*.crt
*.key
*.csr

# Ignore Docker artifacts
docker-compose.override.yml
.dockerignore

# Ignore editor/IDE settings
.vscode/
.idea/

# Ignore system files
**.DS_Store
**.db
**stremio-cache
